<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/login.js" defer></script>
    <link href="/css/home/login.css" rel="stylesheet"></link>

    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="아이디" id="id"/>
          <input type="text" placeholder="이름" id="name"/>
          <input type="password" placeholder="비밀번호" id="psword"/>
          <input type="password" placeholder="비밀번호 확인" id="confirm-psword"/>
          <button type="button">SIGN UP</button>
          <p class="message">Already  registered? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->


